@charset "UTF-8";

.logo img{
    max-width: 100%;
}
body { background-color:#ffffff; font-family: Arial; color: #555; font-size: .75em; }

h1 { margin: 0px; color: #fff; font-size: 1.75em; letter-spacing: 2px; font-weight: normal; }
h2 { margin: 0px; color: #555; font-size: 1.25em; letter-spacing: 19px; font-weight: normal; text-transform: uppercase; }

p { margin: 0px 0px 15px 0px;  }
a img { border: none; }
a { color: #fff; }
a:hover { color: #bbb; }


#container {

    max-width: 80%;
    margin: 20px auto 20px auto;
    height: 100%;
    background-color: white;
    box-shadow: #ffffff;
}
.banner img{
    max-width: 100%;
    
    
}


.clear_both { clear: both; line-height: 1px; }

.gallery_data { padding: 40px; display: none; }
.gallery_preload_area { display: none; }

.gallery_container { width: 960px; margin: 20px auto 0px auto; }

.gallery_content {
	margin: 0px;
	padding: 15px 0px 1px 0px;
}

.gallery_thumbnails { width: 500px; margin-left: 40px; float: left; }
.gallery_thumbnails a {
	display: block;
	height: 75px;
	width: 75px;
	float: left;
	border: 1px solid #555;
	margin: 0px 23px 23px 0px;
}
.gallery_thumbnails a:hover { border-color: #fff; }
.gallery_thumbnails a.selected { border-color: #fff; }

.gallery_preview { width: 375px; height: 375px; float: left; }
.gallery_preview a { display: block; width: 375px; height: 375px; border: 1px solid #555; }
.gallery_preview a:hover { border-color: #fff; }



.gallery_caption { width: 375px; float: right; padding:20px; }
a.zoom { font-size: .8em; background: url(../images/template/link_zoom.png) no-repeat 0px 0px; padding: 0px 0px 5px 20px; text-transform: uppercase; text-decoration: none }



footer{
    height:40px;
    background-color: #999999;
    text-align: center;
    color: #ffffff;


}




nav { background-color: rgba(0,0,0,.6);
    position: relative;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding:0 250px ;
    text-align: center;

}

/* Add menu rules here */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul::after{
    content:'';
    display:block;
    clear: both;
}
nav ul li:hover {
    background-color: rgba(0, 255, 0, 0.7);
}
nav ul li:hover > ul {
    display:block;
}
nav ul li a {

    display:inline-block;
    color: #fff;
    padding:10px 20px;
    text-decoration: none;
    width: 125px;
}
nav ul li a:hover {
    background-color:green;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: rgba(0, 255, 0, 0.7);
}
nav ul ul li {
    position: relative;
}
nav ul ul ul{
    left: 95%;
    top: 0;
}
nav > ul {
    padding-left: 35px;
}
nav > ul > li {
    float:left;

}
nav > ul > li > a {
    padding: 10px 20px 15px 20px;
    width: auto;

}

#login {
    margin-top: -15%;
    padding: 5px 5px 5px 5px;
    float:right;
    display:inline-block;
    clear:both ;
}

#cta {
    padding: 5px 5px 5px 5px;
    margin-top: -10%;

    float:right;
    clear: both;
}
.tooltip {
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #000000;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size: 12px;

}

#tabs {
    background-color: #999;
    width: 600px;
    height: 100%;
    padding: 20px;
    text-align: center;



}

#tabs-nav{
    width:600px;
    height:75px;
    padding:20px;
    background-color:#999;
    text-decoration: none;
    list-style-type:none;

    text-align: center;




}

#tabs-nav li {
    display:inline;
}
#overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

Canvas{
     max-width: 100%;
    text-align: center;
}

.gallery{
    padding-top: 5%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    max-width: 100%;
}


@media only screen and (min-width: 100px) and(max-width: 959px) {

    .logo img {
        text-align:center;
        margin-left: 35%;
        max-width: 100%;
        height:auto;

    /* Larger than tablet */
    @media  only screen and(max-width: 767px) {




        nav ul li{
            display: block;
            position: static;
            text-align: center;
            width:150px;
            padding: 5px 0px 5px 0px;


        }

        nav a ul li{
            color: #a6abc5;

            margin: 0 80px 0 auto;
            padding: 9px;
            width:300px;
            border: 1px solid #a6abc5;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            cursor: pointer;
        }

        nav a:hover {
            color: #fff; background-color: rgba(255,255,255,.15);

        }

        .logo img {
            text-align:center;
            margin-left: 35%;
            max-width: 100%;
            height:auto;



        }

        /* Larger than desktop */
        @media (min-width: 480px) and (max-width: 767px) {


            /* Larger than Desktop HD */
            @media (max-width: 479px) {
